<div class="container-fluid">

        <div class="row">
         <div class="col-md-12">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="./images/book-1 (Custom).jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./images/book2 (Custom).jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./images/book8.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>

         </div>
        </div>
      </div>